{% extends 'todoapp/base.html' %}
{% block content %}
    <form method="post" action="{% url 'profile' %}">
        {% csrf_token %}
        <label>USERNAME</label>
        <input type="text" value="{{ user.username }}" name="username">
        <label>FIRST NAME</label>
        <input type="text" value="{{ user.first_name }}" name="firstname">
        <label>LAST NAME</label>
        <input type="text" value="{{ user.last_name }}" name="lastname">
        <label>E-MAIL</label>
        <input type="email" value="{{ user.email }}" name="email">
        <button type="submit">UPDATE USER</button>
        {% if info %}
            <br>
            <h4>{{ info }}</h4>
        {% endif %}
    </form>
{% endblock %}